<div class="form-group">
  <label for="item">Item</label>
  <input id="item"
         class="form-control"
         #item>
  <input type="button"
         (click)="add(item)"
         value="Add"
         class="btn btn-primary">
</div>
<section>
  <input type="button"
         class="btn btn-success"
         value="Load Data"
         (click)="load()">
  <ul class="list-unstyled">
    <li class="alert alert-info"
        *ngFor="let todo of list$ | async; index as i">
      <span [attr.data-todo-item]="i">{{todo.description}}</span>
    </li>
  </ul>
</section>
